.heroDiv {
    height: 700px;
    width: 100%;
    margin: auto 0;
    margin-bottom: 40px;
}
.heroDiv2 {
    height: 700px;
    width: 95%;
    margin: auto;
    margin-bottom: 40px;
    overflow: hidden;
}
.heroImage {
    height: 100%;
    width: 100%;
    
}
.heroImage2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.catImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    
}  

.bestImages {
    height: 650px;
    width: 98%;
    border: 6px solid black;
    margin: auto;
    margin-bottom: 40px;
}
.categories {
    display: flex;
    height: 650px;
    width: 98%;
    margin: auto;
    margin-bottom: 40px;
}
.category {
    height: 100%;
    width: 420px;
    overflow: hidden;
    margin:  auto;
    border-radius: 6px;
}
.items {
    display: flex;
    height: 450px;
    width: 98%;
    margin: auto;
    margin-bottom: 40px;
}
.item {
    height: 100%;
    width: 350px;
    overflow: hidden;
}
.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_item {
    float: right;
}

.nav_item a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.nav_item a:hover {
    background-color: #111;
}
.active {
    background-color: blue;
}