{% extends "ElithCloset/layout.html" %}

{% block body %}
    <div class="heroDiv">
        <img class='heroImage' src="../../static/ElithCloset/images/alyssa.jpg"/>

    </div>
    <div class="categories">
        <div class="category">
            <img class="catImage" src="../../static/ElithCloset/images/dami.jpg" />
        </div>
        <div class="category">
            <img class="catImage" src="../../static/ElithCloset/images/judeus.jpg" />
        </div>
        <div class="category">
            <img class="catImage" src="../../static/ElithCloset/images/ryan.jpg" />
        </div>
    </div>
    <div class="heroDiv2">
        <img class='heroImage2' src="../../static/ElithCloset/images/clarke-group.jpg"/>

    </div>
    <div class="items">
        <div class="item">
            <img class='heroImage2' src="../../static/ElithCloset/images/benjamin.jpg"/>
        </div>
        <div class="item">
            <img class='heroImage2' src="../../static/ElithCloset/images/jeroen.jpg"/>
        </div>
        <div class="item">
            <img class='heroImage2' src="../../static/ElithCloset/images/wander.jpg"/>
        </div>
        <div class="item">
            <img class='heroImage2' src="../../static/ElithCloset/images/junko.jpg"/>
        </div>
        
    </div>
{% endblock %}